<%= form_for [@course, @topic] do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news_post.errors.count, "error") %> prohibited this news_post from being saved:</h2>

      <ul>
      <% @news_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <%= f.fields_for :discussion_posts do |builder| %>
  <div class="field">
  	<%= builder.label :body, "Message" %><br>
	<%= builder.text_area :body %>
  </div>
	<%= builder.hidden_field :posted_by, :value => current_user.full_name %>
	<%= builder.hidden_field :posted_by_email, :value => current_user.email %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
