<p id="notice"><%= notice %></p>
<div class="discussion-topic">
	<h1><%= @topic.title %></h1>
	<%= link_to "New Post", new_course_topic_discussion_post_path(@course, @topic), :class => "button" %>
	<ul class="discussion-posts">
		<%= nested_discussion_posts @topic.discussion_posts.arrange(:order => :created_at) %>
	</ul>
</div>

<% if admin? %>
	<%= link_to 'Edit', edit_course_topic_path(@course, @topic) %> |
<% end %>
<%= link_to 'Back', course_topics_path(@course) %>
