<h1><%= @course.name %> News</h1>
<div class="news-board">
	<% if admin? %>
		<%= link_to "Add News Post", new_course_news_post_path(@course), :class => "button" %>
	<% end %>
	<ul class="news-posts">
		<% @news_posts.each do |news_post| %>
			<li>
				<div class="news-post-header">
					<h3><%= news_post.title %></h3>
					<div class="news-post-header-date">
						<%= convert_time_string(news_post.updated_at) %>
					</div>
					<% if admin? %>
						<div class="news-post-actions">
							<%= link_to "edit", edit_course_news_post_path(@course, news_post) %>
							<%= link_to 'delete', [@course, news_post], 
									:method => :delete, 
									:confirm => "Are you sure you want to delete #{news_post.title}?", 
									:title => "Delete News Post?" %>
						</div>
					<% end %>
				</div>
				<div class="news-post-body">
					<%= raw news_post.body %>
				</div>

		
			</li>
		<% end %>
	</ul>
</div>
<br />
<% if admin? %>
	<%= link_to 'New News post', new_course_news_post_path(@course) %>
<% end %>
