<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news_post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @news_post.body %>
</p>


<%= link_to 'Edit', edit_news_post_path(@news_post) %> |
<%= link_to 'Back', course_news_posts_path(@course) %>
