<%= form_for [@course, @topic, @discussion_post] do |f| %>
  <% if @discussion_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discussion_post.errors.count, "error") %> prohibited this discussion_post from being saved:</h2>

      <ul>
      <% @discussion_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :parent_id %>
  <div class="field">
    <%= f.label :body, "Your Comment:" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Post", class: "default-submit" %>
  </div>
<% end %>
