<h1>
  <%= @course.name %> Home
</h1>
<div class="news-board">
	<h2>Recent News and Announcements</h2>
	<% if admin? %>
		<%= link_to "Add News Post", new_course_news_post_path(@course), :class => "button" %>
	<% end %>
	<ul class="news-posts">
		<% @course.news_posts.limit(5).each do |news_post| %>
			<li>
				<div class="news-post-header">
					<h3><%= news_post.title %></h3>
					<div class="news-post-header-date">
						<%= convert_time_string(news_post.updated_at) %>
					</div>
					<% if admin? %>
						<div class="news-post-actions">
							<%= link_to "edit", edit_course_news_post_path(@course, news_post) %>
							<%= link_to 'delete', [@course, news_post], 
									:method => :delete, 
									:confirm => "Are you sure you want to delete #{news_post.title}?", 
									:title => "Delete News Post?" %>
						</div>
					<% end %>
				</div>
				<div class="news-post-body">
					<%= raw news_post.body %>
				</div>
			</li>
		<% end %>
	</ul>
	<%= link_to "View All News Posts", course_news_posts_path(@course) %>
</div>

<% if admin? %>
	<hr>
	<h2>Administration</h2>
	<h3>Registered Students</h3>
	<ul>
		<% @course.users.each do |user| %>
			<li><%=  user.full_name %></li>
		<% end %>
	</ul>
	
	<%= link_to 'Edit', edit_course_path(@course) %> |
	<%= link_to 'Back', courses_path %>
<% end %>

