<p id="notice"><%= notice %></p>

<h1>
  <%= @course.name %>
</h1>


<% if admin? %>
	<hr>
	<h2>Administration</h2>
	<h3>Registered Students</h3>
	<ul>
		<% @course.users.each do |user| %>
			<li><%=  user.full_name %></li>
		<% end %>
	</ul>
<% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
