<div class='main-menu'>
	<% if user_signed_in? %>
		<%= image_tag "headerlogo.png" %><br>
		<%= link_to "Home", "/" %>
		<%= link_to "Courses", courses_path %>
		<% if admin? %>
			<%= link_to "Users", users_path %>
		<% end %>
		<% if admin? || teacher? %>
			<%= link_to "Registrations", course_registrations_path %>
		<% end %>
	<% end %>
</div>
<div class='account-menu'>
	<% if user_signed_in? %>
				<%= link_to (image_tag Gravatar.new(current_user.email).image_url, :class => "header-avatar"), "http://www.gravatar.com", :target => "_blank" %>
		<div class="user-menu">
			<ul class="dropdown-menu">
				<li>
					You are signed in as <%= link_to current_user.full_name, "#" %>
					<ul>

						<%= link_to "Edit Profile", edit_user_registration_path %>
						<%= link_to "Edit Profile Image", "http://www.gravatar.com", :target => "_blank" %>
						<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
					</ul>

				</li>
			<ul>
		</div>

	<% else %>
		Click <%= link_to "here", "/users/sign_in" %> to sign in.
	<% end %>
</div>