<!DOCTYPE html>
<html>
<head>
  <title>Mrhing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300|Metrophobic' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="header">
		<%= render "layouts/header" %>
	</div>
	
	<div class="main-body">
		<table class="main-body-table-layout">
			<tr>
				<td class="side-menu">
					<%= render 'layouts/side_menu' %>
				</td>
				<td>
					<%= render "courses/menu" %>
					<div class="course-body">
						<% flash.each do |key, value| %>
							<div class="flash <%= key %>"><%= value %></div>
						<% end %>
						<%= yield %>
					</div>
				</td>
			</tr>
		</table>
	</div>

</body>
</html>
